/*ESTILO GERAL*/
*{
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
body{
    background: #f4f6f8;
    padding: 20px;
    color: #333;
}

/*CONTAINER PRINCIPAL*/
.container{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;
}

/*TABELA*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
thead{
    background: #212529;
    color: #fff;
}
th, td{
    padding: 10px;
    text-align: center;
}
tbody tr:nth-child(even){
    background: #f2f2f2;
}
tbody tr:hover{
    background: #e9ecef;
}

/*INPUTS E SELECT*/
input[type="text"], input[type="number"], select{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-color: #0d6efd;
}
#nome-planilha{
    background-color: #eef4ff;
    border: 2px solid #000000;
    color: #212529;
    padding: 8px 12px;
    border-radius: 8px;
    width: 30%;
    outline: none;
    font-size: 25px;
    font-weight: 600;
}
input, select{
    color: #000;
    font-weight: 500;
}
input:not(:placeholder-shown){
    color: #000;
    font-weight: 600;
}

/*BOTÕES*/
button{
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 8px !important;
}
#btnAdd{
    background: #198754;
}
#btnSalvar{
    background: #0d6efd;
}
#btnExcluir{
    background: #dc3545;
}
.btn-excluir{
    background: #dc3545;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/*TOTAL*/
p{
    font-size: 25px;
    font-weight: bold;
}
#total{
    font-size: 25px;
    font-weight: bold;
}
#total.positivo{
    color: green;
}
#total.negativo{
    color: red;
}
#total.zero{
    color: black;
}

/*MENU LATERAL*/
#lista-dias{
    list-style: none;
    padding-left: 0;
}
#lista-dias li{
    margin-bottom: 8px 12px;
    margin-bottom: 5px;
    background: #f1f1f1;
    border-radius: 6px;
    cursor: pointer;
}
#lista-dias li:hover{
    background: #0d6efd;
    color: white;
}

.icone-excluir {
    font-size: 18px;
    color: red;
    cursor: pointer;
}
