table{
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

input, select {
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 8px;
}