h2 {
    text-align: center;
    margin-top: 20px;
}

h3 input {
    border-collapse: collapse;
}

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table input, table select {
    width: 100%;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 8px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}